---
import logo from '../images/logo.png';
---

<header class="z-10 bg-[#010b15] text-white border-b border-b-slate-700">
   <nav class="border-gray-200">
      <div class="container">
         <div class="flex flex-wrap justify-between items-center md:px-3 py-2">
            <div class="flex items-center justify-between">
               <a class="flex items-center py-2 px-3" href="/">
                  <figure>
                     <img
                        src={logo}
                        width={150}
                        height={51}
                        alt="Ayllu Kaypi"
                     />
                  </figure>
               </a>
            </div>
         </div>
      </div>
   </nav>
</header>