

<section class="md:items-center md:p-12 px-3 lg:p-12 bg-[#010b15] bg-cover bg-no-repeat bg-center md:h-auto">
   <div class="py-2">
      <div class="container">
         <div class="block shrink grow basis-0 p-2">
            <div class="text-center">
               <p class="font-normal text-lg text-cyan-ak">
                  No compres barato
               </p>
               <h1 class="font-bold text-3xl text-white leading-tight">
                  Compra seguro
               </h1>
               <p class="font-normal text-lg text-gray-500 mb-2">
                  ¡Ofrecemos lotes independizados!
               </p>
               <div class="inline-flex justify-center mb-2">
                  <a href="#contacto" class="w-full bg-gradient-to-r text-azul bg-cyan-ak rounded-full py-2 px-11 transition-transform duration-200 hover:scale-105 text-base font-bold shadow-xl flex items-center justify-center animate-scale">Regístrate</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>