<section class="py-8 px-6 lg:py-24 lg:px-14 bg-[#010b15]">
   <div class="">
      <div class="text-center">
         <p class="text-slate-200 text-base">
            ¡Registra tus datos y accede a un bono de <span
               class="text-white font-bold">S/5000</span
            >, solo para <span class="text-white font-bold">Compras Online</span
            >!
         </p>
      </div>
      <div class="flex justify-center my-5">
         <div class="inline-flex shadow">
            <a
               href="#contacto"
               id="cta"
               class="w-full bg-gradient-to-r text-azul bg-cyan-ak rounded-full py-2.5 px-6 transition-transform duration-200 hover:scale-105 text-base font-bold shadow-xl flex items-center justify-center animate-bounce"
               >Registrarme ahora</a
            >
         </div>
      </div>
   </div>
</section>
